<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.infernodz.jplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <service android:name=".PlayerService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity android:name=".PlayerActivity" />
    </application>
</manifest>
